canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.wrapper {
  background-color: hsla(20, 0%, 0%, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: var(--max-z-index, 10000);
  padding: 1rem;
  display: grid;
  width: 100%;
  grid-template-areas: "panel main";
  grid-template-columns: minmax(20rem, 20%) 1fr;
}
