@keyframes rotate-left {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-right {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-in {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: calc(-100% + 2rem);
  }
}

@keyframes slide-out {
  0% {
    margin-left: calc(-100% + 2rem);
  }

  100% {
    margin-left: 0;
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

:host {
  display: flex;
  width: 100%;

  &.expanded {
    animation-name: slide-out;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    & .switch {
      animation-name: rotate-right;
      animation-duration: 500ms;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }

  &.collapsed {
    animation-name: slide-in;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    & .switch {
      animation-name: rotate-left;
      animation-duration: 500ms;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }
}

.switch {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    user-select: none;

    &:focus,
    &:active {
      outline: none;
      border: none;
    }

    &:hover {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }
}

.controls {
  background-color: hsla(20, 25%, 0%, 0.7);
  padding: 1rem;
  border-radius: 0.25rem;
  user-select: none;
  height: 100%;
}

.control {
  padding-bottom: 1rem;
}

.control:not(:first-child) {
  padding-top: 1rem;
}

.control:not(:last-child) {
  border-bottom: 1px solid hsla(20, 25%, 50%, 1);
}

label {
  display: block;
}

h2 {
  color: hsla(20, 50%, 50%, 1);
}

label,
p {
  color: hsla(20, 40%, 65%, 1);
  line-height: 1.5rem;
}

.base-color {
  border: 1px solid black;
  height: 2rem;
  margin-top: 0.5rem;
}

.color-slider {
  width: 100%;
}
